<div class="flyntComponent flyntComponent--flynt-block-video-oembed-landing flyntComponent--{{ options.size }} componentSpacing {{ options.theme }}" is="flynt-block-video-oembed-landing">
  <div class="container{% if options.size != 'sizeFull' %} centerMaxWidthContainer{% endif %}">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="1433.476" height="1078.571" viewBox="0 0 1433.476 1078.571">
        <g id="Layer-1" transform="translate(-33.644 -41.039)">
          <g id="Group_14" data-name="Group 14" transform="translate(0 -0.09)">
            <path id="Path_131" data-name="Path 131" d="M1453.26,1105.84h-97.05V54.992h97.05ZM47.507,54.993H142.7V1105.84H47.507ZM1342.35,1105.84H156.565V54.992H1342.35ZM33.644,1119.7H1467.12V41.129H33.644Z" fill="#0f1820"/>
          </g>
          <g id="Group_15" data-name="Group 15" transform="translate(349.867 752.621)">
            <path id="Path_132" data-name="Path 132" d="M0-38.757c-30.67-6.69-42.66-10.037-42.66-25.372,0-14.5,10.6-21.749,28.161-21.749,20.076,0,31.508,9.48,34.017,31.786H63.294c-2.789-43.775-29.276-66.361-78.35-66.361-40.709,0-70.822,18.681-70.822,58.554,0,39.315,26.488,48.795,70.822,59.112,24.536,5.854,38.2,10.6,38.2,25.652,0,15.335-12.826,23.421-30.113,23.421C-27.6,46.286-44.612,35.133-47.4,9.2H-91.176C-89.5,58-55.486,81.7-8.364,81.7c47.4,0,74.725-23.977,74.725-61.061C66.361-23.141,27.046-32.622,0-38.757" fill="#0f1820"/>
          </g>
          <g id="Group_16" data-name="Group 16" transform="translate(532.35 752.064)">
            <path id="Path_133" data-name="Path 133" d="M0-37.642H-61.342V-116.55h-43.776V78.908h43.776V-.279H0V78.908H43.775V-116.55H0Z" fill="#0f1820"/>
          </g>
          <g id="Group_17" data-name="Group 17" transform="translate(646.94 706.894)">
            <path id="Path_134" data-name="Path 134" d="M0,52.977,22.028-29.836,44.054,52.977ZM-5.856-71.1-61.9,124.078h43.218L-9.2,88.387H53.256l9.48,35.691h43.219L49.91-71.1Z" fill="#0f1820"/>
          </g>
          <g id="Group_18" data-name="Group 18" transform="translate(823.988 716.65)">
            <path id="Path_135" data-name="Path 135" d="M0,33.183c24.536,5.854,38.2,10.6,38.2,25.652,0,15.335-12.826,23.421-30.113,23.421-20.634,0-37.642-11.153-40.43-37.084H-76.12c1.673,48.794,35.69,72.494,82.811,72.494,47.4,0,74.727-23.977,74.727-61.061,0-43.776-39.315-53.257-66.361-59.392C-15.614-9.477-27.6-12.824-27.6-28.159c0-14.5,10.595-21.749,28.162-21.749,20.075,0,31.506,9.481,34.017,31.786H78.351C75.562-61.9,49.073-84.483,0-84.483c-40.709,0-70.822,18.682-70.822,58.555,0,39.314,26.489,48.8,70.822,59.111" fill="#0f1820"/>
          </g>
          <g id="Group_19" data-name="Group 19" transform="translate(1021.53 752.064)">
            <path id="Path_136" data-name="Path 136" d="M0-37.642H-61.342V-116.55h-43.775V78.908h43.775V-.279H0V78.908H43.776V-116.55H0Z" fill="#0f1820"/>
          </g>
          <g id="Group_20" data-name="Group 20" transform="translate(1136.12 706.894)">
            <path id="Path_137" data-name="Path 137" d="M0,52.977,22.027-29.836,44.056,52.977ZM-5.855-71.1-61.9,124.078h43.217L-9.2,88.387H53.256l9.479,35.691h43.219L49.91-71.1Z" fill="#0f1820"/>
          </g>
          <g id="Group_21" data-name="Group 21" transform="translate(914.979 383.09)">
            <path id="Path_138" data-name="Path 138" d="M0,197.9c23.846,0,44.255-6.049,57.768-18.575C75.459,191.636,99.63,197.9,126.234,197.9c21.879,0,40.856-5.1,54.277-15.613,13.76,10.358,32.9,15.613,57.286,15.613,39.9,0,84.872-16.921,89.3-52.829V41.022H280.848V145.075c-3.015,10.73-28.072,16.116-43.643,16.116-21.267,0-33.393-10.023-36.1-33.586h-.25V71.753H154.612v73.322c-3.014,10.73-13.4,16.116-28.969,16.116-21.267,0-48.066-10.023-50.77-33.586h-.251V89.881H28.377v55.194c-3.015,10.73-13.4,16.116-28.97,16.116-21.266,0-48.065-10.023-50.769-33.586L-51.616,0H-97.861V127.605h.006C-94.837,173.978-52.046,197.9,0,197.9" fill="#0f1820"/>
          </g>
          <g id="Group_22" data-name="Group 22" transform="translate(334.972 518.43)">
            <path id="Path_139" data-name="Path 139" d="M0-72.778V-7.736C.081-6.5.188-5.285.305-4.079A17.756,17.756,0,0,1-13.812,2.039c-16.283,0-24.869-13.618-24.869-31.975,0-21.722,11.65-39.651,38.681-42.842M-11.443,47.93c12.274,0,22.005-2.915,29.806-7.728,13.929,14.819,35.6,22.361,64.82,22.361,25.027,0,52.043-6.66,69.8-20.483,17.885,13.573,43.155,20.483,71.1,20.483,21.879,0,40.855-5.1,54.276-15.613,13.76,10.358,32.9,15.613,57.287,15.613,39.9,0,84.871-16.921,89.295-52.828V-94.319H378.7V9.735c-3.015,10.73-28.071,16.115-43.642,16.115-21.267,0-33.393-10.023-36.1-33.586h-.25V-63.588H252.468V9.735c-3.015,10.73-13.4,16.115-28.969,16.115-21.268,0-48.066-10.023-50.771-33.586h-.25V-45.46H126.232V9.735c-3.014,10.73-28.07,16.115-43.641,16.115-21.267,0-33.394-10.023-36.1-33.586H46.5l-.254-127.605H0v16.031c-51.334,2.079-76.281,38.086-76.281,87.894,0,50.331,25.461,79.346,64.838,79.346" fill="#0f1820"/>
          </g>
          <g id="Group_23" data-name="Group 23" transform="translate(1155.81 -354.735) rotate(180)">
            <rect id="Rectangle_16" data-name="Rectangle 16" width="46.245" height="40.083" transform="translate(554.782 -777.779)" fill="#0f1820"/>
          </g>
          <g id="Group_24" data-name="Group 24" transform="translate(0 -354.735)">
            <rect id="Rectangle_17" data-name="Rectangle 17" width="46.245" height="40.083" transform="translate(620.1 737.696)" fill="#0f1820"/>
          </g>
          <g id="Group_25" data-name="Group 25" transform="translate(585.807 -467.993) rotate(180)">
            <rect id="Rectangle_18" data-name="Rectangle 18" width="46.245" height="40.083" transform="translate(269.781 -834.408)" fill="#0f1820"/>
          </g>
          <g id="Group_26" data-name="Group 26" transform="translate(716.443 -467.993) rotate(180)">
            <rect id="Rectangle_19" data-name="Rectangle 19" width="46.245" height="40.083" transform="translate(335.099 -834.408)" fill="#0f1820"/>
          </g>
          <g id="Group_27" data-name="Group 27" transform="translate(1221.12 -467.993) rotate(180)">
            <rect id="Rectangle_20" data-name="Rectangle 20" width="46.245" height="40.083" transform="translate(587.44 -834.408)" fill="#0f1820"/>
          </g>
          <g id="Group_28" data-name="Group 28" transform="translate(2120.11 -354.735) rotate(180)">
            <rect id="Rectangle_21" data-name="Rectangle 21" width="46.245" height="40.083" transform="translate(1036.93 -777.779)" fill="#0f1820"/>
          </g>
          <g id="Group_29" data-name="Group 29" transform="translate(0 -354.735)">
            <rect id="Rectangle_22" data-name="Rectangle 22" width="46.244" height="40.083" transform="translate(1102.25 737.696)" fill="#0f1820"/>
          </g>
          <g id="Group_30" data-name="Group 30" transform="translate(2185.42 -467.993) rotate(180)">
            <rect id="Rectangle_23" data-name="Rectangle 23" width="46.244" height="40.083" transform="translate(1069.59 -834.408)" fill="#0f1820"/>
          </g>
        </g>
      </svg>
    </div>
    {% include 'Partials/_video.twig' ignore missing with {video: video, image: posterImage} only %}
    <a class="button" href="{{ buttonLink }}">{{ buttontext }}</a>
  </div>
</div>
