.pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px;

  &--center {
    justify-content: center;
  }

  &--prevDisabled {
    justify-content: flex-end;
  }

  .button {
    background-color: transparent;
    border: 1px solid $black;
    color: $black;
    white-space: nowrap;

    &:hover {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }
  }

  .arrow {
    color: $black;
    display: none;
    height: 18px;
    width: 16px;


  }

  &-next {
    .arrow {
      margin-right: -5px;
    }
  }

  &-previous {
    .arrow {
      margin-left: -5px;
    }
  }
}
