[is='flynt-navigation-footer'] {
  font-size: 0.8rem;

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: $container-padding-mobile;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .content {
    margin: 0;

    p {
      margin: 0;
    }

    @media (max-width: $breakpoint-tablet-horizontal) {
      @include reset-content-margins;
      margin-top: 10px;
      text-align: left;
    }
  }

  @import 'Partials/menu';
}
