[is='flynt-grid-image-text'] {
  margin-top: $container-padding-mobile;

  .preContent {
    padding: 0;
  }

  .grid {
    @include reset-list;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    // column-gap: $container-padding-desktop;
    display: flex;
    flex-flow: row wrap;
    grid-template-columns: repeat(2, 1fr);
    padding: $container-padding-desktop 0;
    // row-gap: $container-padding-desktop;
    width: 100%;

    @media (max-width: $breakpoint-mobile-horizontal) {
      border-bottom: 0;
      border-top: 0;
      padding: 0;
    }
  }

  .grid-item {
    border-bottom: 1px solid $grey;
    padding-bottom: $container-padding-desktop;
    padding-top: $container-padding-desktop;
    width: 50%;

    @media (max-width: $breakpoint-mobile-horizontal) {
      width: 100%;
    }

    &:nth-child(1) {
      padding-top: 0;
    }

    &:nth-child(2) {
      padding-top: 0;

      @media (max-width: $breakpoint-mobile-horizontal) {
        padding-top: $container-padding-desktop;
      }
    }

    &:nth-last-child(1) {
      border-bottom: 0;
    }

    &:nth-last-child(2) {
      border-bottom: 0;
    }

    &:nth-child(even) {
      border-left: 1px solid $grey;
      padding-left: $container-padding-desktop;

      @media (max-width: $breakpoint-mobile-horizontal) {
        border-left: 0;
        padding-left: 0;
      }
    }
  }

  .content {
    height: 100%;

    img {
      height: 250px;
      object-fit: cover;
    }

    &-inner {
      @include reset-content-margins;
      padding: 0;

      .date {
        color: $grey;
      }
    }
  }
}
