[is='flynt-block-cookie-notice'] {
  background-color: $white;
  border-top: 2px solid $black;
  bottom: 0;
  display: none;
  left: 100px;
  position: fixed;
  right: 0;
  z-index: 999;

  @media (max-width: $breakpoint-mobile-horizontal) {
    left: 0;
  }

  .content {
    @include reset-content-margins;
    font-size: 0.8rem;
    padding-bottom: $container-padding-mobile;
  }

  &.cookieNotice--isVisible {
    display: block;
  }

  &.layoutBottom {
    @media (min-width: $breakpoint-tablet-horizontal) {
      .container {
        align-items: center;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        padding: $container-padding-mobile;
      }

      .content {
        padding-bottom: 0;
        padding-right: $container-padding-mobile;
      }

      .button {
        background-color: $black;
        border: 2px solid $black;

        &:hover {
          background-color: transparent;
          color: $black;
        }
      }
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      .container {
        padding: $container-padding-mobile;
      }

      .button {
        background-color: $black;
        border: 2px solid $black;

        &:hover {
          background-color: transparent;
          color: $black;
        }
      }
    }
  }
}
