$search-form-spacing: 6px;

.preContent {
  text-align: center;
}

.searchForm {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  margin: $container-padding-mobile 0;
  // position: fixed;
  // top: 0;
  // left: 50%;

  &-button {
    background-color: $black;
    border: 1px solid $black;
    border-radius: 0;
    color: $white;
    height: 50px;
    margin: 0;
  }

  &-input {
    height: 50px;
    margin: 0;
  }
}
